/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
body {
    margin: 0;
    height: fit-content;
}
nav, header {
    background-color: #540B51;
    margin: 0;
    color: white;
}
nav {  
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    position: fixed;
    top: 0;
}
nav > div {
    height: 25px;
}
.nav-logo {
    height: 25px;
}
#nav-menue > li{
    display: none;
}
.nav-button {
    background-color: transparent;
    border: none;
}
header {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
#header-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header-container-center-padding {
    display: inline-block;
    padding: 10px;
}
h1 {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 0;
}
.subheadline-yellow {
    color: #ECB12F;
    font-weight: bolder;
}

.sign-up-buttons {
    display: block;
}
#subheadline {
    padding-bottom: 20px; 
}
.button-shape {
    height: 45px;
    border-radius: 4px;
    border: none;
    width: 90vw;
    margin: 5px 0;
    text-transform: uppercase;
}
.button-width-header {
    max-width: 450px;
}
#email-button {
    color: #540B51;
}
#google-button {
    color: white;
    background-color: #4285F4;
    display: inline-flex;
    justify-content:flex-start;
    gap: 0 20%;
    align-items: center;
}
.google-logo {
    width: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}
.hero-teaser {
    width: 90vw;
}

main {
    color: black;
    margin: 0;
}
section {
    background-color: #F3EAE2;
    padding: 30px 0 20px 0;
    display: flex;
    flex-direction: column;
}
.order-image-first {
    flex-direction: column-reverse;
}
#trust-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
#trust-section > p {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
}
#trust-logo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 25px;
    gap: 20px;
}
.trust-logos-text {
    height: 30px;
}
.trust-logos {
    height: 40px;
}
.main-img {
    width: 90vw;
}
.align-right {
    align-self: flex-end;
}
article > h2 {
    line-height: 2rem;
    color: #191817;
}
article > p {
    line-height: 1.5rem;
}
article > a {
    color: #2E71A6;
    text-decoration: none;
    font-size: 0.9rem;
}
article {
    padding: 15px;
}

#kpi-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#kpi-section > h3 {
    font-size: 1.5rem;
    padding: 20px 50px 0 50px;
    color: #191817;
}
#enterprice-button {
    color: white;
    background-color: #540B51;
}
#sales-button {
    color: #540B51;
    background-color: white;
    border: 2px solid #540B51;
}
#kpi-section ul {
    padding: 30px 0 0 0;
}
#kpi-section li {
    padding: 0 100px;
}
/* #kpi-section p {
    padding: 0 10px;
} */
.kpi {
    color: #540B51;
    font-size: 2.5rem;
    font-weight: bold;
}
.kpi-description {
    font-size: 00.8rem;
    font-weight: 600;
}
#elipse-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position:relative;
    padding-bottom: 60px;
    color: white;
    background-color: transparent;
}
#elipse-layout {
    position: absolute;
    background-color: #540B51;
    border-radius: 0 0 70% 70%;
    height: 200px;
    width: 100vw;
    transform:scale(2);
    z-index: -1;
    overflow: hidden;
}
#elipse-section > h3 {
    font-size: 1.5rem;
    padding: 0 120px;
}
#elipse-section > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#sales-button2 {
    color: white;
    background-color: #540B51;
    border: 2px solid white;
}
#trial-button {
    color: #540B51;
    background-color: white;
}
footer {
    line-height: 2rem;
    margin: 20px;
    padding-top: 40px;
}
.footer-logo {
    width: 50PX;
}
#footer-table {
    display: flex;
    justify-content: center;
}
#footer-table li {
    font-size: 0.7rem;
    color: #454245;
    box-sizing: border-box;
}
#footer-table ul {
    padding: 20px;
}
.footer-table-headline {
    font-weight: bold;
    color: #191817
}
#social-media-nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
li {
    list-style: none;
}
#footer-links {
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0;
}
#company-info {
    color: #454245;
    font-size: 0.7rem;
    line-height: 1rem;
}
.icon-padding-right {
    padding-right: 10px;
}
.color-blue {
    color: #2E71A6;
}
.img-desctop {
    display: none;
}

 @media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
    }
    #header-container {
        background-image: url(/./starter_code/images/background-singup.png);
        background-size: 1200px;
        background-repeat: no-repeat;
        padding: 20px 20px 100px 20px;
    }
    h1 {
        font-size: 4.7rem;
        text-align: left;
        font-weight: 600;
        padding-top: 40px;
        padding-right: 100px;
    }
    #subheadline {
        text-align: left;
        font-size: 1.6rem;
    }
    .hero-teaser {
        display: none;
    }
    #hero-teaser-container {
        width: 100vw;
        height: 500px;
        background-image: url(/./starter_code/images/hero-product-ui.png);
        background-size: 500px;
        background-repeat: no-repeat;
    }

    article {
        padding: 20px 150px;
    }
    article > h2,
    #kpi-section > h3 {
        font-size: 2rem;
    }
    article > p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    article > a {
        font-size: 1rem;
    }
    .button-shape {
        height: 50px;
    }

    #kpi-button-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0 90px;
    }
    #kpi-section > h3 {
        padding: 0;
        margin: 0;
    }
    .kpi {
        font-size: 3rem;
    }
    .kpi-description {
        font-size: 1rem;
    }
    #enterprice-button {
        width: 40vw;
    }
    #sales-button {
        width: 20vw;
    }
    #kpi-section ul {
        display:flex;
    }
    #kpi-section li {
        padding: 0 50px;
        text-align: left;
    }
    #elipse-section > div {
        flex-direction: column;
    }
    #trial-button-container {
        padding: 0 90px;
    }


    #footer-table {
        justify-content: space-between;
    }
    #footer-links {
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
    }
    #footer-table ul {
        padding: 0;
    }
    #footer-table li {
        font-size: 00.9rem;
        line-height: 2.5rem;
    }
    #social-media-nav {
        display: flex;
        justify-content: flex-start;
        gap: 60px;
    }
    .fab {
        font-size: 1.2rem;
    }
 
    #company-info {
    font-size: 0.9rem;
    padding: 20px 0;
    }
    
    .img-mobile {
        display: none;
    }
    .img-desctop {
        display: block;
    }
}